.tmp-detail {
  width: 100%;
  height: 320px;
  overflow: hidden;
  margin: 0;
  border-radius: 16px;
  background: #fff;
}
.title-box {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.title-box .left {
  font-size: 20px;
  font-weight: bold;
}
.title-box .right {
  font-size: 16px;
  color: #666;
  cursor: pointer;
  padding-right: 20px;
}
.title-box .right .font-w {
  font-weight: 600;
}

.tmp-detail .tem-content {
  padding: 0 20px;
}

/* 列表 */
.tmp-detail .tem-content .database-item {
  width: 45%;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  margin: 0 2%;
}
.temp-no-data-show{
  text-align: center;
  line-height: 40px;
  color: #666;
}
.tmp-detail .tem-content .database-item span {
  width: 80%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tmp-detail .tem-content .database-item:hover {
  opacity: 0.8;
}
.tmp-detail .tem-content .database-item .data-icon {
  width: 16px;
  height: 16px;
}
